<div class="title">Приложение API Яндекс карт</div>
<div id="map" class="map">
  
</div>
<div class="geo">
  <header class="geo__header header">
    <div class="header__info">
      <img src="./src/map-marker-alt-solid.svg" alt="Иконка метки" class="header__icon">
      <span class="header__address">Невский пр., 78, Санкт-Петербург, 191025</span>
    </div>
    <a href="#" class="geo__close"></a>
  </header>
  <ul class="geo__reviews reviews">
    <li class="reviews__item">
      <div class="reviews__title">
        <span class="reviews__author">svetlana</span>
        <span class="reviews__place">Шоколадница</span>
        <span class="reviews__date">13.12.2015</span>
      </div>
      <div class="reviews__message">Очень хорошее место!</div>
    </li>
    <li class="reviews__item">
      <div class="reviews__title">
        <span class="reviews__author">Сергей Мелюков</span>
        <span class="reviews__place">Красный куб</span>
        <span class="reviews__date">12.12.2015</span>
      </div>
      <div class="reviews__message">Ужасное место! Кругом зомби!!!!</div>
    </li>
  </ul>
  <form class="review">
    <div class="review__title">Ваш отзыв</div>
    <input placeholder="Ваше имя" type="text" class="review__input">
    <input placeholder="Укажите место" type="text" class="review__input">
    <textarea placeholder="Поделитесь впечатлениями" name="" id="" cols="30" rows="10" class="review__textarea"></textarea>
    <button class="review__button">Добавить</button>
  </form>
</div>
